---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";

const pageTitle = "Brett's Blog";
const allPosts = await getCollection("blog");
allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout pageTitle={pageTitle}>
  <section class="container-lg">
    <Header pageTitle={pageTitle}></Header>
    <p>This is the personal blog written by <em>Brett Baisley</em>. Who is that? Well, not only is he a fantastic guy, he is a support engineer with 20+ years experience. He started blogging as he incorrectly thought the rest of the world was interested in his thoughts. Poor guy, how wrong he was...</p>

    <h2>Featured Posts</h2>  
    <ul class="posts featured-posts list-none group">
      {
        allPosts.slice(0, 3).map((post, index) => (
            <li>
              <a href={`/blog/${post.id}/`}>
                {post.data.title}
                
              </a>
            </li>
        ))
      }
    </ul>

    <h2>Archive</h2>
    <ul class="posts archive-posts list-none">
      {
        allPosts.slice(3).map((post, index, array) => (
          <li>
            <a href={`/blog/${post.id}/`}>
              <div class="post-title">{post.data.title}</div>
            </a>
            <div class="post-date">{new Date(post.data.pubDate).toISOString().split('T')[0]}</div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>


<style>
  a {
    color: white;
  }

  li {
    padding: 1rem;
  }
  
  .posts {    
    display: grid;
    grid-template-columns: 1fr;
  }

  .post-date {
    font-size: 0.75rem;
    color: var(--text-color-light);
  }



  @media (min-width: 768px) {
    .archive-posts {
      grid-template-columns: repeat(2, 1fr);
    }
   
    .featured-posts {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>