---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Brett's Blog";
const allPosts = await getCollection("blog");
allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

---
<BaseLayout pageTitle={pageTitle}>
  <p>This is the personal blog written by <em>Brett Baisley</em>. Who is that? Well, not only is he a fantastic guy, he is a support engineer with 20+ years experience. He started blogging as he incorrectly thought the rest of the world was interested in his thoughts. Poor guy, how wrong he was...</p>

  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/blog/${post.slug}/`} title={post.data.title} pubDate={post.data.pubDate} text={post.data} />
      ))
    }
  </ul>
</BaseLayout>


<style>
  p {
    max-width: 80ch;
    margin: 2rem auto ;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2rem;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  
</style>