---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

const pageTitle = "Brett's Blog";

---
<BaseLayout pageTitle={pageTitle}></BaseLayout>
  <article>
    <header class="article-header">
      <h1 class="article-title">{frontmatter.title}</h1>
      <h2 class="article-subtitle">{frontmatter.subtitle}</h2>
      <p class="article-author">Published on {new Date(frontmatter.pubDate).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' })} by <em>{frontmatter.author}</em></p>
    </header>

    <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->

    <slot />
  </article>
</BaseLayout>

<style>
  em {
    font-weight: 900;
    font-style: normal;
  }

  article {
    max-width: 70ch;
    margin: 0 auto;
  }

  .article-header {
    border-bottom: 1px solid #d9d9d9;
  }

  .article-title {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 2rem 0;
    line-height: 1;
  }

  .article-subtitle {
    font-size: 1.375rem;
    font-weight: 300;
    margin: 2rem 0;
    line-height: 1.1;
  }

  .article-author {
    font-size: .9rem;
  }
  

</style>